.marge
{
    margin-top: 25px;
    margin-left: 25px;
}
.element1
{
    margin-top: 25px;
}
.fluid-2
{
    height: 75px;
    background-color: #c82333;
}
.fluid-1
{
    height:100px ;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;
}
h4{
    text-align: center;
    font-size: large;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}
.centre
{
    position: relative;
    bottom: -23px;
}


.promo
{
    background-image: url(/home/mihin/Bureau/Simplon.burkina/images/Photos-de-groupeSIMPLON.AUF_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}
.center{
    margin-top: 200px;
    opacity: 0.7;
}
.centre{
    margin-top: 50px;
    font-size: xx-large;
}
.text
{
    height: 250px;
    background-color: rgb(232, 229, 229);
}
.bordure 
{
    border-top: solid 7px #c82333;
}
.interligne
{
    line-height: 1.9em;
}
.formation
{
    height: 100px;
    background-color: #c82333;
}




.pied
{
    background-color: #c82333;
    height: 250px;
}
.element10
{
    color: white;
    text-align: center;
    margin-top: -20px;
 }
.reseau
{
    margin-left: 25px;
} 




[class*="reveal-"]
{
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible
{
    opacity: 1;
    transform: translateY(0);
    transition: .5s cubic-bezier(.71,.03,.03,.93);
}
.reveal-1
{
    transition-delay: .3s;
}
.reveal-2
{
    transition-delay: .4s;
}
.reveal-3
{
    transition-delay: .5s;
}
.reveal-4
{
    transition-delay: .6s;
}
.reveal-5
{
    transition-delay: .7s;
}